BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
SortIncludes: false
SortUsingDeclarations: Never
NamespaceIndentation: All
FixNamespaceComments: false
ReflowComments: false
BreakStringLiterals: false
InsertBraces: false
